@import url('opensans/stylesheet.css');

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#footer, #push {
  height: 70px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  float: left;
  margin-top: 50px;
}

body {
  font-family: 'PT Serif';
  color: #333;
}

p {
  margin: 1em 0;

  font-size: 1.15em;
  line-height: 1.5em;
  text-align: justify;
}

p.hero {
  background-color: #eaeaea;
  padding: 1em;

  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #88513D;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0.4em 0 0.2em 0;
}

.center {
  text-align: center;
}

.push {
  margin-top: 1.5em;
}

#header {
  padding-top: 10px;
}

#navbar {
  padding: 10px;

  border-bottom: 1px solid #e5e5e5;
}

#navbar a {
  font-weight: bold;

  padding-left: 15px;
  padding-right: 15px;
}

#footer {
  border-top: 1px solid #e5e5e5;

  padding: 10px 0px;
}

#footer p {
  font-size: 0.9em;
}

pre {
  width: 820px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: #ccc;
}

p > code {
  background-color: #ccc;
  padding: 2px;
}

table tr td {
  padding: 3px 1em 0px 0px;
  border-top: 1px dashed #f0f0f0;
}